@import "flex-wrap";
@import "flex-size";

.display--flex {
  display: flex;
}

.flex--center {
  align-self: center;
}

.flex--end {
  align-self: flex-end;
}

.flex--column {
  flex-direction: column;
}
